<!-- <main>
  <router-outlet></router-outlet>
</main> -->

<!-- <login>
</login>
<main>
  <router-outlet></router-outlet>
  
</main> -->

<!-- <barraNavegacion></barraNavegacion> -->
<main>
  <!-- <login></login> -->
  <router-outlet></router-outlet>
</main>