<ul id="slide-out" class="side-nav fixed" [ngStyle]="{'background-color': '#01579b'} ">
    <li>
        <div class="user-view center">
       <!--  <div class="background">
          <img src="./assets/images/buscarepuestos.png">
        </div> -->
        <a class="center"><img src="../../assets/images/buscarepuestos2.png" width="180px" class="center"></a>
      </div>
    </li>

    <li>
      <a  class="white-text waves-effect padLeftBarra" [routerLink]="['/home']" ><i class="material-icons white-text padLeft">person_identity</i><span class="light">{{usuario}}</span></a>
    </li>

    <li><div class="divider"></div></li>

    <li class="no-padding" [routerLinkActive]="['active']">
      <a  class="white-text waves-effect padLeftBarra" [routerLink]="['/home']"><i class="material-icons white-text padLeft">home</i><span class="light">Inicio</span></a>
    </li>

    <li [routerLinkActive]="['active']">
      <a  class="white-text waves-effect padLeftBarra" [routerLink]="['/repuestos']"><i class="material-icons white-text padLeft" >directions_car</i><span class="light">Mis Repuestos</span></a>
    </li>

    <li [routerLinkActive]="['active']">
      <a  class="white-text waves-effect padLeftBarra"><i class="material-icons white-text padLeft">attach_money</i><span class="light">Precios</span></a>
    </li>

    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li [routerLinkActive]="['active']">
            <a class="collapsible-header white-text padLeftBarra" ><i class="material-icons white-text padLeft" >build</i><span class="light">Configuración</span></a>
            <div class="collapsible-body" style="background-color: #01579b">
              <ul>
                <li ><a [routerLink]="['/apariencia']" class="white-text" style="padding-left: 80px"><span class="light">Apariencia</span></a></li>
                <li ><a [routerLink]="['/color']" class="white-text" style="padding-left: 80px" ><span class="light">Color</span></a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>

    <li><div class="divider"></div></li>

    <li>
      <a [routerLink]="['/login']"  class="white-text waves-effect padLeftBarra"><i class="material-icons white-text padLeft">close</i><span class="light">Salir</span></a>
    </li>
</ul>

<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons ">menu</i></a>

<style>
/*Para elemento de la lista activado */
  .side-nav li.active {
    background-color: #01416d !important;
    border-left: 4px solid green !important; 
  }

/*Cuando pasamos el cursor */
  .side-nav li > a:hover {
    background-color: #0277bd !important;
  }

.padLeft{
  padding-left: 15px !important;
}

.padLeftBarra{
  padding-left: 0px !important;
}

</style>
