<div class="row">
	<div class="col m12 s12 myClass2">
			<a [routerLink]="['/login']"><i class="material-icons blue-text md-48 left" style="font-size:  50px">navigate_before</i><h5 class="blue-text thin">Regresar</h5></a>
			<div class="container">
				<h2 class="white-text thin">¡La mejor forma de <br>centralizar tus <strong>repuestos!</strong></h2>
			</div>
	</div>
	<div class="col m12 s12 myClass1">
		<div class="container">
			<!-- <h2 class="white-text thin">¡Solicitud enviada con <strong>éxito</strong>!</h2> -->
			<div class="row center">
				<br>
				<img src="../assets/LogoBuscaRepuestos3.png" width="250px" class="center">
			</div>
			<br>
			<br>
			<h4 class="white-text thin">La solicitud se envió correctamente, nuestro equipo se pondrá en <strong>contacto</strong> contigo.</h4>
			<br>
			<br>
			<br>
			<h5 class="white-text thin">¡Esperamos que seas parte de buscaRepuestos!</h5>
			<br>
			<br>
			<br>
			<br>
		</div>
	</div>	
</div>
<style>
	.myClass2{
		background-color: #37474f;
	}
	.myClass1{
		background-color: #01477D;
	}
	.body{
		background-color: red;
	}
</style>