<barraNavegacion></barraNavegacion>
<main>
<div class="container">
  <br>
<h3 class="ligt center">¡Ha iniciado sesión <span class="blue-text fat">{{titulo}}!</span></h3>
<div class="divider"></div><br>
<div class="container">

  <div class="row">
    <div class="col m4 s4 center push-m2">
      <i class="material-icons blue-text md-48" style="font-size:  80px">merge_type</i><br>
      <h5 class="center">Centralice sus productos</h5>
      <p class="center light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni corporis debitis facere! Quae mollitia enim necessitatibus obcaecati ullam sunt rem nulla libero! Sit.
    </div>

    <div class="col m4 s4 center push-m2">
      <i class="material-icons blue-text md-48" style="font-size:  80px">build</i><br>
        <h5 class="center">Añada sus repuestos</h5>
        <p class="center light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni corporis debitis facere! Quae mollitia enim necessitatibus obcaecati ullam sunt rem nulla libero! Sit.</p>
    </div>
  </div>
      
  <div class="row">
    <div class="col m4 s4 center">
          <i class="material-icons blue-text md-48" style="font-size: 80px">attach_money</i><br>
           <h5 class="center">Agregue los precios</h5>
          <p class="center light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni corporis debitis facere! Quae mollitia enim necessitatibus obcaecati ullam sunt rem nulla libero! Sit.</p>
        </div>
        <div class="col m4 s4 center">
          <i class="material-icons blue-text md-48" style="font-size: 80px">trending_up</i><br>
           <h5 class="center">Aumente sus ventas</h5>
          <p class="center light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni corporis debitis facere! Quae mollitia enim necessitatibus obcaecati ullam sunt rem nulla libero! Sit.</p>
        </div>
        <div class="col m4 s4 center">
          <i class="material-icons blue-text md-48" style="font-size: 80px">near_me</i><br>
           <h5 class="center">Anúnciate con nosotros</h5>
          <p class="center light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni corporis debitis facere! Quae mollitia enim necessitatibus obcaecati ullam sunt rem nulla libero! Sit.</p>
        </div>
  </div>
  </div>
</div>

</main>

<style>
  header, main, footer {
     padding-left: 250px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
 }  

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
</style>