<barraNavegacion></barraNavegacion>
<main>
<div class="container">
		<a class="waves-effect waves-light btn blue" [routerLink]="['/repuesto-add']"><i class="material-icons white-text left">add</i>Agregar</a><br><br>
    <div class="card-panel" *ngIf="listaRepuestos">
        <table class="highlight">
          <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Categoría</th>
                <th>Marca del Repuesto</th>
                <th class=center>Opciones</th>
            </tr>
          </thead>
        <div class="row">
          <p class ="center" *ngIf="listaRepuestos.length ==0">No hay repuestos disponibles</p>
        </div>
          <tbody *ngFor= "let x of listaRepuestos" >
            <tr>
              <td>{{x.id}}</td>
              <td>{{x.nombre}}</td>
              <td> {{x.descripcion}}</td>
              <td> $ {{x.precio}}</td>
              <td>{{x.categoria.nombre}}</td>
              <td width="10%">{{x.marca.nombre}}</td>
              <td class ="center">
          <a  [routerLink]="['repuesto-edit', x.id]" class="waves-effect waves-light btn blue lighten-2 myButton"><i class="material-icons white-text left">create</i>Editar</a>
          <a (click)="eliminarRepuesto(x.id)" class="waves-effect waves-light btn red lighten-2 myButton"><i class="material-icons white-text left">delete</i>Eliminar</a>
        </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
	
</main>

<style>
  header, main, footer {
     padding-left: 250px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
 }  

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
</style>