<barraNavegacion></barraNavegacion>
<main>
	<div class="container">
		<h5 class="blue-text">Formulario para agregar <span class="red-text">Repuestos</span></h5>
		<div class="card-panel">
			
		<form #formRepuesto="ngForm" (ngSubmit)="onSubmit()">
			<div class="row">

				<div class="input-field col m4 s6">
		          	<input placeholder=""#nom="ngModel" [(ngModel)]="repuesto.nombre" name="repuesto" type="text" class="validate" required>
		         	<label class="active">Nombre:<span class="obl">*</span></label>
					<span *ngIf="!nom.valid && nom.touched" class="red-text thin"> El nombre es obligatorio</span>
		        </div>	

		        <div class="input-field col m9 s6">
		          	<input placeholder="" #descr="ngModel" [(ngModel)]="repuesto.descripcion" name="descripcion" type="text" class="validate" required>
		          	<label class="active">Descripción:<span class="obl">*</span></label>
		           	<span *ngIf="!descr.valid && descr.touched" class="red-text thin"> La descripción es obligatoria</span>
		        </div> 

		        <div class="input-field col m3 s6">
		          	<input placeholder="" #pre="ngModel" [(ngModel)]="repuesto.precio" name="precio" type="text" class="validate" required>
		          	<label class="active">Precio ($):<span class="obl">*</span></label>
		           	<span *ngIf="!pre.valid && pre.touched" class="red-text thin"> El precio es obligatorio</span>
		        </div>

				<div class="col s12 m3">
					<div placeholder="" input-field #cat="ngModel" [(ngModel)]="categoria.id" name="categoria" ngDefaultControl>
				    <label>Categoría:</label>
				    <select class="" material-select watch class="browser-default">
				    	<option value="" disabled selected>{{categoria.nombre}}</option>	
				        <option *ngFor="let x of listaCategorias" value="{{x.id}}">{{x.nombre}}</option>
				    </select>
					</div>
				</div>

				<div class="col s12 m3">
					<div placeholder="" input-field #mar="ngModel" [(ngModel)]="marca.id" name="marc" ngDefaultControl>
					    <label>Marca del Repuesto:</label>
					    <select class="" material-select watch class="browser-default">
					    	<option value="" disabled selected>{{marca.nombre}}</option>	
					        <option *ngFor="let x of listaMarcas" value="{{x.id}}">{{x.nombre}}</option>
					    </select>
					</div>
				</div>

				<div class="col s12 m3">
					<div placeholder="" input-field #car="ngModel" [(ngModel)]="vehiculo.id" name="carro" ngDefaultControl>
					    <label>Carro:</label>
					    <select class="" material-select watch class="browser-default">
					    	<option value="" disabled selected>{{vehiculo.modelo}}</option>	
					        <option *ngFor="let x of listaVehiculos" value="{{x.id}}">{{x.modelo}}</option>
					    </select>
					</div>
				</div>

			</div>

			<div class="row">
				<div class="container">
					<br>
					<div class="col s3 m3 push-m7">
						<a [routerLink]="['/repuestos']" class="btn waves-effect waves-light red right" type="submit" name="action"> Cancelar</a>
					</div>
					<div class="col s3 m3 push-m6">
						<button class="btn waves-effect waves-light green right" type="submit" name="action" [disabled]="!formRepuesto.form.valid">Aceptar</button>
					</div>
				</div>
			</div>
		</form>
		</div>
		<br>
		<div class="divider"></div><br>
		<h6>Los campos indicados con <span class="obl">*</span> son obligatorios.</h6>
	</div>
</main>

<style>
.obl{
		color: red;
		font-size: 22px;
	}
 header, main, footer {
     padding-left: 250px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
 }  

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
</style>