<div class="row">
	<div class="col m12 s12 myClass2">
		<a [routerLink]="['/login']"><i class="material-icons blue-text md-48 left" style="font-size:  50px">navigate_before</i><h5 class="blue-text thin">Regresar</h5></a>
		<div class="container">
			<h2 class="white-text thin">¡La mejor forma de <br>centralizar tus <strong>repuestos!</strong></h2>
		</div>
	</div>

	<div class="col m12 s12 myClass">
		<div class="container">
			<br>
			<h4 class="white-text light">Completa el siguiente formulario</h4>
			<br>
			<form #formSolicitud="ngForm" (ngSubmit)="onSubmit()">
				
				<div class="row center">
					<div class="input-field col m6 s6">
		          		<input  #nombreEmpresa="ngModel" [(ngModel)]="solicitud.nombreEmpresa" name="nombreEmpresa" type="text" class="validate" required>
		          		<label>Nombre de la Empresa:<span class="obl">*</span></label>
		           		<span *ngIf="!nombreEmpresa.valid && nombreEmpresa.touched" class="yellow-text thin"> El nombre es obligatorio</span>
		        	</div>	
				</div>

				<div class="row">
		        	<div class="input-field col m4 s6">
		          		<input #nombreRepresentante="ngModel" [(ngModel)]="solicitud.nombreRepresentante" name="nombreRepresentante" type="text" class="validate" required required pattern="[A-Za-zñÑ&á-ú\s]+" title="Rangos validos: espacios,a-z A-Z del alfabeto latino">
		          		<label>Nombre del Representante:<span class="obl">*</span></label>
		           		<span *ngIf="!nombreRepresentante.valid && nombreRepresentante.touched" class="yellow-text thin"> El nombre es obligatorio</span>
		        	</div>	
				
		        	<div class="input-field col m4 s6">
		          		<input  [(ngModel)]="solicitud.cargo" name="cargo" type="text" class="validate" required>
		          		<label>Cargo:</label>
		        	</div>

		        	<div class="input-field col m4 s6">
		          		<input  #correo="ngModel" [(ngModel)]="solicitud.correo" name="correo" type="text" class="validate" required>
		          		<label>Correo:<span class="obl">*</span></label>
		          		<span *ngIf="!correo.valid && correo.touched" class="yellow-text thin"> El correo es obligatorio</span>
		        	</div>

		        	<div class="input-field col m4 s6">
		          		<input  #telefono="ngModel" [(ngModel)]="solicitud.telefono" name="telefono" type="text" class="validate" required>
		          		<label>Teléfono Contacto:<span class="obl">*</span></label>
		          		<span *ngIf="!telefono.valid && telefono.touched" class="yellow-text thin"> El teléfono es obligatorio</span>
		        	</div>
	        	</div>
				<div class="row center">
					<br>
					<button class="btn-large waves-effect waves-light green center" type="submit" name="action"> Enviar</button>
					<br>
					<br>
				</div>
			</form>
			<br>
			<br>
			<div class="divider"></div>
			<h6 class="white-text">Los campos indicados con <span class="obl">*</span> son obligatorios</h6>
			<br>
			<br>
		</div>
	</div>
</div>


<style>
	.obl{
		color: #fff9c4;
		font-size: 25px;
	}
	.myClass{
		background-color: #01579b;
	}

	.myClass2{
		background-color: #01477D;
	}

	/* label color */
   .input-field label {
     color: white;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: white;
   }
   /* label focus color */
   .input-field input[type=password]:focus + label {
     color: white;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 white;
   }
   .input-field input[type=password]:focus {
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 white;
   }
   .input-field input[type=text]{
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 white;
   }
   .input-field input[type=password]{
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 white;
   }
</style>